<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SerasaBET</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<header class="header">

    <div class="header__logo-and-navlist">
        <img class="header__logo" src="../static/images/logos/poker-chip.png" alt="poker-logo">
        <nav>
            <ul class="header__navlist">
                <li>HOME</li>
                <li>EVENTOS</li>
                <li>SOBRE NÓS</li>
            </ul>
        </nav>
    </div>

    <div class="header__call-to-action">
        <a class="button-secondary" href="{{url_for('login')}}">Login</a>
        <a class="button" href="{{url_for('cadastrar')}}">Cadastrar</a>
    </div>
</header>

<body>
    <section class="hero-frontpage">
        <h1>Aposte suas dívidas</h1>
        <h2>Na SerasaBet, a única dívida é com a diversão!</h2>

        <div>
            <a class="button" href="{{url_for('cadastrar')}}">Cadastrar</a>
        </div>
    </section>


</body>

<footer class="footer">
    <p>Site parte da matéria do Projeto Integrador II</p>
</footer>
</html>