@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

:root{
    --text: #EAEAEA;
    --background: #1B1B2F;
    --primary: #F05454;
    --secondary: #30475E;
    --accent: #FFD369;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Oxanium", sans-serif;
}

h1{
    font-size: 2.986rem;
}

h2{
    font-size: 2.488rem;
}

.button{
    background-color: var(--primary);
    color: var(--background);
    text-decoration: none;
    display: inline-block;
    border: none;

    border-radius: 10px;
    padding: .7rem 2rem;

    font-weight: bold;
}

.form-field{
    border: none;
    background-color: white;

    border-radius: 5px;
    padding: .7rem 2rem;
}

body{
    background-color: var(--background);
    color: var(--text);
}

.hero-login{
    display: flex;

    height: 100vh;
}

.hero-login__illustration{
    width: 50%;
    img{
        width: 100%;
    }
    background: url("../images/cassino-img.jpg") no-repeat center center fixed;
    background-size: cover;
}

.hero-login__login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    .alignment{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .form-field{
        width: 100%;
    }
}